<div class="text-game-terminal">
    <tg-loader></tg-loader>
    <div class="terminal-window">
        <div class="history">
            <div class="line title">
                Spooky Mansion Mystery
                <div class="line divider" data-character="*"></div>
            </div>
            <div class="inner"></div>

        </div>
        <form class="input">
            <div class="helpers"></div>
            <div class="field">
                <div class="prefix">$></div>
                <input type="text">
            </div>
        </form>
    </div>
    <a href="#" class="skip-link"><span class="blink">*</span>skip to website</a>
</div>