.grid-tile {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;

  & &-content {
    position: relative;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
  }
}
