@import "../../../styles/variables";

.grid {
  display: block;
  width: 100%;

  & &-tiles {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 1px solid white;
  }

  .score-container,
  .instructions {
    position: relative;
    display: block;
    text-align: center;
    font-family: $font-family-monospace;
    font-size: 18px;
  }
}
