<div class="sidebar">
    <div class="sidebar-line"></div>

    <div class="inner">
        <div class="sidebar-section technology active">
            <div class="heading">TECHNOLOGY</div>
            <div class="content">
                <div class="item">
                    <div class="text">HTML</div>
                    <div class="bar advanced"></div>
                </div>
                <div class="item">
                    <div class="text">CSS</div>
                    <div class="bar advanced"></div>
                </div>
                <div class="item">
                    <div class="text">SASS/SCSS/LESS</div>
                    <div class="bar advanced"></div>
                </div>
            </div>
            <div class="content">
                <div class="item">
                    <div class="text">JavaScript</div>
                    <div class="bar advanced"></div>
                </div>
                <div class="item">
                    <div class="text">ECMAScript</div>
                    <div class="bar advanced"></div>
                </div>
                <div class="item">
                    <div class="text">TypeScript</div>
                    <div class="bar advanced"></div>
                </div>
            </div>
            <div class="content">
                <div class="item">
                    <div class="text">Python</div>
                    <div class="bar proficient"></div>
                </div>
                <div class="item">
                    <div class="text">Ruby</div>
                    <div class="bar familiar"></div>
                </div>
                <div class="item">
                    <div class="text">C#</div>
                    <div class="bar familiar"></div>
                </div>
            </div>
        </div>

        <div class="sidebar-section frameworks">
            <div class="heading">FRAMEWORKS</div>
            <div class="content">
                <div class="item">
                    <div class="text">AngularJS</div>
                    <div class="bar advanced"></div>
                </div>
                <div class="item">
                    <div class="text">Angular</div>
                    <div class="bar advanced"></div>
                </div>
            </div>
            <div class="content">
                <div class="item">
                    <div class="text">React</div>
                    <div class="bar proficient"></div>
                </div>
                <div class="item">
                    <div class="text">React Native</div>
                    <div class="bar proficient"></div>
                </div>
            </div>
            <div class="content">
                <div class="item">
                    <div class="text">VueJS</div>
                    <div class="bar proficient"></div>
                </div>
            </div>
            <div class="content">
                <div class="item">
                    <div class="text">Django/DRF</div>
                    <div class="bar advanced"></div>
                </div>
                <div class="item">
                    <div class="text">Rails</div>
                    <div class="bar proficient"></div>
                </div>
                <div class="item">
                    <div class="text">Flask</div>
                    <div class="bar familiar"></div>
                </div>
            </div>
        </div>

        <div class="sidebar-section software">
            <div class="heading">SOFTWARE</div>
            <div class="content">
                <div class="item">
                    <div class="text">JetBrains Suite</div>
                    <div class="bar advanced"></div>
                </div>
                <div class="item">
                    <div class="text">Atom IDE</div>
                    <div class="bar advanced"></div>
                </div>
                <div class="item">
                    <div class="text">Visual Studio</div>
                    <div class="bar proficient"></div>
                </div>
            </div>
            <div class="content">
                <div class="item">
                    <div class="text">Git</div>
                    <div class="bar advanced"></div>
                </div>
            </div>
            <div class="content">
                <div class="item">
                    <div class="text">Adobe Photoshop</div>
                    <div class="bar proficient"></div>
                </div>
                <div class="item">
                    <div class="text">Adobe XD</div>
                    <div class="bar familiar"></div>
                </div>
                <div class="item">
                    <div class="text">Sketch</div>
                    <div class="bar familiar"></div>
                </div>
                <div class="item">
                    <div class="text">Zeplin</div>
                    <div class="bar familiar"></div>
                </div>
            </div>
        </div>
    </div>

    <button class="expand open"></button>
</div>