@import "../../styles/variables";
@import "../../styles/mixins";

site-sidebar .sidebar {
  position: fixed;
  display: block;
  top: -280px;
  left: -300px;
  width: 300px;
  height: 280px;
  margin: 0;
  border: none;
  padding: 4px 12px 4px 10px;
  background-color: $gray;
  z-index: 1060;

  &.expanded {
    top: 0;
    left: 0;
  }

  @include breakpoint() {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    padding: $content-padding-top $content-padding-inner $content-padding-bottom
      $content-padding-outer;
    z-index: 1040;
  }

  .sidebar-line {
    position: absolute;
    display: none;
    width: 100px;
    top: 200px;
    border-bottom: 1px solid $purple;

    @include breakpoint() {
      display: block;
    }
  }

  .sidebar-section {
    position: absolute;
    display: block;
    width: 278px;

    .content-wrapper .content:not(:last-child) {
      padding-bottom: 8px;
    }

    &.technology {
      .heading {
        left: 0;
        z-index: 1050;
      }

      .content-wrapper {
        z-index: 1030;

        .content {
          z-index: 1040;
        }
      }
    }

    &.frameworks {
      .heading {
        left: 89px;
        z-index: 1030;

        @include breakpoint() {
          left: 0;
        }
      }
      .content-wrapper {
        z-index: 1010;

        .content {
          z-index: 1020;
        }
      }
    }

    &.software {
      .heading {
        left: 178px;
        z-index: 1010;

        @include breakpoint() {
          left: 0;
        }
      }
      .content-wrapper {
        z-index: 990;

        .content {
          z-index: 1000;
        }
      }
    }

    &.active {
      .heading {
        z-index: 1070;
        background-color: $gray;
      }

      .content-wrapper {
        z-index: 1050;

        .content {
          z-index: 1060;
        }
      }
    }

    @include breakpoint() {
      position: relative;
      &:not(:last-child) {
        padding-bottom: 20px;
      }

      .content-wrapper .content:not(:last-child) {
        padding-bottom: 16px;
      }
    }

    .heading {
      position: relative;
      display: inline-block;
      color: $purple;
      border-top: 1px solid $purple;
      border-right: 1px solid $purple;
      border-left: 1px solid $purple;
      padding: 0 4px 4px;
      background-color: $black;
      z-index: 1050;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        background-color: $gray;
        left: 0;
        bottom: -1px;
        border-bottom: 1px solid $gray;
        z-index: 1050;
      }

      @include breakpoint() {
        height: 50px;
        border: none;
        padding: 0;

        &:hover {
          cursor: default;
        }
      }
    }

    .content-wrapper {
      position: relative;
      display: block;
      height: 235px;
      background-color: $gray;

      .content {
        position: relative;
        display: block;
        background-color: $gray;
        padding: 0px 4px;

        &:first-child {
          border-top: 1px solid $purple;
          padding-top: 8px;
        }

        @include breakpoint() {
          border: none;
          padding: 0;

          &:first-child,
          &:last-child {
            border: none;
          }
        }

        .item {
          position: relative;
          display: block;
          width: 100%;
          margin: 0 auto;

          .bar,
          .text {
            position: relative;
            display: inline-block;
          }

          .bar {
            width: 140px;
            height: 8px;
            margin-top: 7px;
            background-color: $black;
            float: right;

            &:before {
              content: "";
              position: absolute;
              display: block;
              left: 0;
              height: 8px;
            }

            &.advanced:before {
              background-color: $pink;
              width: 120px;
            }

            &.proficient:before {
              background-color: $orange;
              width: 100px;
            }

            &.familiar:before {
              background-color: $yellow;
              width: 80px;
            }
          }
        }
      }
    }
  }
}

.expand {
  position: absolute;
  bottom: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: $gray;
  z-index: 1050;

  &:hover {
    cursor: pointer;
    background-color: darken($gray, 3.25%);

    .bar {
      background-color: darken($pink, 7.5%);
    }
  }

  &:focus,
  &:active {
    outline: none;
  }

  .bar {
    width: 30px;
    height: 5px;
    background-color: $pink;
    margin: 6px auto;
  }

  @include breakpoint() {
    display: none;
  }
}
