<div class="text-game-terminal">
    <div class="terminal-window">
        <div class="history">
            <div class="line title header">
                <div class="header-text"></div>
                <div class="line divider" data-character="*"></div>
            </div>
            <div class="inner"></div>

        </div>
        <form class="input" novalidate>
            <div class="helpers">
                <ul class="helpers-list"></ul>
            </div>
            <div class="field">
                <div class="prefix">></div>
                <input type="text" placeholder="enter command">
            </div>
        </form>
    </div>
    <app-audio-player class="terminal-player hide"></app-audio-player>
    <button class="button main-link">back to main menu</button>
    <button class="button skip-link"><span class="blink">*</span>skip to website</button>
</div>