@import "~simplebar/dist/simplebar.css";

@import "../../../styles/variables";

.text-game-terminal {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 3rem;

  .terminal-window {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid $font-color;
    border-radius: 0;

    &.no-color {
      .prompt,
      .sass,
      .helper,
      .art,
      .title,
      .system {
        color: $font-color !important;
      }
    }

    &.show-input-helpers {
      .history {
        padding-bottom: 64px;
      }

      .input {
        height: 64px;
        top: -64px;

        .helpers {
          display: block;
        }

        .field {
          padding-top: 20px;
        }
      }
    }

    .history {
      position: relative;
      display: block;
      width: 100%;
      max-height: 100%;
      padding: 22px 22px 44px;

      &.filled {
        height: 100%;
      }

      &.reset {
        height: 0;
      }

      &.show-title {
        padding-top: 72px;

        .line.title {
          display: block;
        }
      }

      &.lock {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        .inner {
          display: block;
          overflow: hidden;
        }
      }

      .inner {
        .simplebar-track.simplebar-vertical {
          padding-top: 22px;
          margin-bottom: 44px;

          .simplebar-scrollbar:before {
            border-radius: 0;
            background: $font-color;
          }
        }
      }

      .line {
        display: block;
        margin-bottom: 0.25rem;
        font-size: 18px;
        font-family: $font-family-monospace;
        color: $font-color;
      }

      .prompt {
        color: $orange;
      }

      .sass {
        color: $pink;
      }

      .helper {
        color: $yellow;
      }

      .art {
        color: $green;
      }

      .title {
        color: $blue;
      }

      .system {
        color: $purple;
      }

      .header {
        position: absolute;
        display: none;
        top: 24px;
        left: 0;
        width: 100%;
        font-size: 24px;
        text-align: center;

        .divider {
          color: inherit;
        }
      }

      .run-link:hover {
        cursor: pointer;
      }
    }

    .input {
      position: relative;
      top: -44px;
      width: 100%;
      height: 44px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      font-size: 18px;
      font-family: $font-family-monospace;
      color: $font-color;
      background-color: $bg-color;

      .helpers {
        position: absolute;
        display: none;
        width: 100%;
        height: 20px;
        top: 0;
        left: 0;
        z-index: 1040;

        .helpers-list {
          margin: 0;
          border: 0;
          padding: 0 0 0 40px;

          .helper {
            margin: 0;
            border: 0;
            display: inline;
            color: $yellow;

            &:first-child {
              padding-right: 8px;
            }

            &:last-child {
              padding-left: 8px;
            }

            &:not(:first-child):not(:last-child) {
              padding: 0 8px;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .field {
        position: relative;
        bottom: 0;

        .prefix {
          position: absolute;
          display: block;
          left: 22px;
          padding-top: 7px;
        }

        input {
          position: relative;
          bottom: 0;
          width: 100%;
          height: 32px;
          margin-bottom: 12px;
          border: none;
          padding: 0 12px 0 40px;
          font-size: inherit;
          font-family: inherit;
          color: inherit;
          background: transparent;

          &:hover,
          &:focus {
            outline: none;
          }
        }
      }
    }

    .art pre {
      font-size: 0.25rem;
    }
  }

  .button {
    border: 0;
    padding: 2px 4px;
    font-size: 18px;
    font-family: $font-family-monospace;
    color: $font-color;
    background-color: darken($link-color, 7.5);
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      color: darken($font-color, 7.5);
      background-color: darken($link-color, 15);
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  .terminal-player {
    float: left;
  }

  .skip-link {
    float: right;
  }
}
