$white: #f8f8f2;
$gray: #75715e;
$black: #272822;

$blue: #66d9ef;
$green: #a6e22e;
$orange: #fd971f;
$pink: #f92672;
$purple: #ae81ff;
$yellow: #ffd866;

$bg-color: $black;

$font-color: $white;
$font-family: sans-serif;
$font-family-monospace: "VT323", monospace;

$link-color: $blue;
