$white: #f8f8f2;
$gray: #3b3c39;
$black: #272822;

$blue: #66d9ef;
$green: #a6e22e;
$orange: #fd971f;
$pink: #f92672;
$purple: #ae81ff;
$yellow: #ffd866;

$bg-color: $black;

$font-color: $white;
$font-family: sans-serif;
$font-family-monospace: "VT323", monospace;

$link-color: $blue;

$breakpoint: 992px;

// Site

$sidebar-width: 400px;
$portrait-size: 300px;

$content-padding-top: 410px;
$content-padding-bottom: 50px;
$content-padding-inner: 30px;
$content-padding-outer: 76px;
