$white: #dddddd;
$black: #222222;
$blue: #35c5e8;
$yellow: #e0e041;
$green: #84de59;
$pink: #e060da;

$font-color: $white;
$font-family: sans-serif;
$font-family-monospace: "VT323", monospace;
$bg-color: $black;

$link-color: $blue;
