@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(#000000, 0);
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: $font-family;
  color: $font-color;
  text-align: left;
  background-color: $bg-color;
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: darken($link-color, 7.5%);
    text-decoration: underline;
  }
}

pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
