@import "../../styles/variables";

.terminal {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 3rem;

  & &-window {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid $font-color;
    border-radius: 24px;

    .history {
      position: relative;
      display: block;
      width: 100%;
      max-height: 100%;
      padding: 22px 22px 44px;

      &.filled {
        height: 100%;

        &.reset {
          height: 0;
        }
      }

      .inner {
        .simplebar-track.simplebar-vertical {
          padding-top: 22px;
          margin-bottom: 44px;

          .simplebar-scrollbar:before {
            border-radius: 0;
            background: $font-color;
          }
        }
      }

      .line {
        display: block;
        margin-bottom: 0.25rem;
        font-size: 18px;
        font-family: $font-family-monospace;
        color: $font-color;

        &.loading {
          &:after {
            display: inline-block;
            animation: ellipsis steps(1, end) 1s infinite;
            content: "";
          }
        }

        &.prompt {
          color: #e0e041;
        }

        &.title {
          position: absolute;
          display: none;
          top: 24px;
          left: 0;
          width: 100%;
          font-size: 24px;
          color: $link-color;
          text-align: center;

          .divider {
            color: inherit;
          }
        }
      }

      &.show-title {
        padding: 64px 22px 44px;

        .line.title {
          display: block;
        }
      }
    }

    .input {
      position: relative;
      top: -44px;
      width: 100%;
      height: 44px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      font-size: 18px;
      font-family: $font-family-monospace;
      color: $font-color;
      background-color: $bg-color;

      .prefix {
        position: absolute;
        display: block;
        left: 22px;
        padding-top: 7px;
      }

      input {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 32px;
        margin-bottom: 12px;
        border: none;
        padding: 0 12px 0 40px;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        background: transparent;

        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
  }

  .skip {
    float: right;
    font-size: 18px;
    font-family: $font-family-monospace;
    background-color: $bg-color;
  }
}
