@import "../../../styles/variables";

.loader {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: $bg-color;

  & &-text {
    width: 72px;
  }

  &.loading &-text:after {
    display: inline-block;
    animation: ellipsis steps(1, end) 1s infinite;
    content: "";
  }
}
