<main class="site">
    <div class="site-sidebar">
        <div class="sidebar-line"></div>
        <div class="inner">

            <div class="sidebar-section">
                <div class="heading">TECHNOLOGY</div>
                <div class="content">
                    <div class="item">
                        <div class="text">HTML</div>
                        <div class="bar advanced"></div>
                    </div>
                    <div class="item">
                        <div class="text">CSS</div>
                        <div class="bar advanced"></div>
                    </div>
                    <div class="item">
                        <div class="text">SASS/SCSS/LESS</div>
                        <div class="bar advanced"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="text">JavaScript</div>
                        <div class="bar advanced"></div>
                    </div>
                    <div class="item">
                        <div class="text">ECMAScript</div>
                        <div class="bar advanced"></div>
                    </div>
                    <div class="item">
                        <div class="text">TypeScript</div>
                        <div class="bar advanced"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="text">Python</div>
                        <div class="bar proficient"></div>
                    </div>
                    <div class="item">
                        <div class="text">Ruby</div>
                        <div class="bar familiar"></div>
                    </div>
                    <div class="item">
                        <div class="text">C#</div>
                        <div class="bar familiar"></div>
                    </div>
                </div>
            </div>

            <div class="sidebar-section">
                <div class="heading">FRAMEWORKS</div>
                <div class="content">
                    <div class="item">
                        <div class="text">AngularJS</div>
                        <div class="bar advanced"></div>
                    </div>
                    <div class="item">
                        <div class="text">Angular 2/4/5</div>
                        <div class="bar advanced"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="text">React</div>
                        <div class="bar proficient"></div>
                    </div>
                    <div class="item">
                        <div class="text">React Native</div>
                        <div class="bar proficient"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="text">VueJS</div>
                        <div class="bar proficient"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="text">Django/DRF</div>
                        <div class="bar advanced"></div>
                    </div>
                    <div class="item">
                        <div class="text">Rails</div>
                        <div class="bar proficient"></div>
                    </div>
                    <div class="item">
                        <div class="text">Flask</div>
                        <div class="bar familiar"></div>
                    </div>
                </div>
            </div>

            <div class="sidebar-section">
                <div class="heading">SOFTWARE</div>
                <div class="content">
                    <div class="item">
                        <div class="text">JetBrains Suite</div>
                        <div class="bar advanced"></div>
                    </div>
                    <div class="item">
                        <div class="text">Atom IDE</div>
                        <div class="bar advanced"></div>
                    </div>
                    <div class="item">
                        <div class="text">Visual Studio</div>
                        <div class="bar proficient"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="text">Git/GitHub/GitLab</div>
                        <div class="bar advanced"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="text">Adobe Photoshop</div>
                        <div class="bar proficient"></div>
                    </div>
                    <div class="item">
                        <div class="text">Adobe XD</div>
                        <div class="bar familiar"></div>
                    </div>
                    <div class="item">
                        <div class="text">Sketch</div>
                        <div class="bar familiar"></div>
                    </div>
                    <div class="item">
                        <div class="text">Zeplin</div>
                        <div class="bar familiar"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="site-portrait"></div>

    <div class="site-content">

        <div class="information">
            <div class="title">Devin T. Currie</div>
            <div class="subtitle">WEB DEVELOPER</div>

            <div class="line"></div>

            <div class="contact">
                <div>Address: 56 Pike St. 4B, New York, NY 10002</div>
                <div>
                    Phone:
                    <a href="tel:18439071121" class="link">843 907 1121</a>
                </div>
                <div>
                    Email:
                    <a href="mailto:devintcurrie@gmail.com" class="link">devintcurrie@gmail.com</a>
                </div>
            </div>
        </div>

        <div class="inner">

            <div class="main-section">
                <div class="main-section-heading">
                    <div class="heading">WORK HISTORY</div>
                    <div class="line"></div>
                </div>
                <div class="main-section-content">
                    <div class="main-section-content-left">
                        <div class="subheading-label">Nov/2018 - Present</div>
                        <div class="subheading">Lead Front End Developer</div>
                        <div class="subheading">Division 6</div>
                    </div>
                    <div class="main-section-content-right">
                        <div class="subheading-label">RESPONSIBILITIES:</div>
                        <div>
                            Currently leading front-end development for the Defrag News platform using Angular 5, Firebase, and Material
                            Design. Planning to implement a version 2.0 with Angular 7+, the official Angular Firebase and Material Design
                            libraries.
                            <p>
                                <a href="http://division6.co/" class="link">http://division6.co/</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-section-content">
                    <div class="main-section-content-left">
                        <div class="subheading-label">Jul/2018 - Nov/2018</div>
                        <div class="subheading">Front End Developer</div>
                        <div class="subheading">BlueMatch Realty</div>
                    </div>
                    <div class="main-section-content-right">
                        <div class="subheading-label">RESPONSIBILITIES:</div>
                        <div>
                            Major site cleanup from the ground up, including moving to Angular 6 and implementing responsive design and a
                            complete overhaul with Bootstrap 4.
                            <p>
                                <a href="https://bluematch.com/home" class="link">https://bluematch.com/home</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-section-content">
                    <div class="main-section-content-left">
                        <div class="subheading-label">Jun/2016 - Nov/2017</div>
                        <div class="subheading">Front End Developer</div>
                        <div class="subheading">BETTERIFIC</div>
                    </div>
                    <div class="main-section-content-right">
                        <div class="subheading-label">RESPONSIBILITIES:</div>
                        <div>
                            Sole front-end developer for Betterific. Used Angular 2 to work with a Rails back-end. The product is in use
                            at:
                            <p>
                                <a href="https://betterific.com" class="link">https://betterific.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="main-section-content">
                    <div class="main-section-content-left">
                        <div class="subheading-label">Jan/2015 - Jan/2016</div>
                        <div class="subheading">Front End Developer</div>
                        <div class="subheading">TRANSCIRRUS</div>
                    </div>
                    <div class="main-section-content-right">
                        <div class="subheading-label">RESPONSIBILITIES:</div>
                        <div>
                            UI Developer for the Transcirrus product, an OpenStack interface built on top of a proprietary Transcirrus
                            server. Used jQuery and Bootstrap to work with a Django backend.
                        </div>
                    </div>
                </div>
                <div class="main-section-content">
                    <div class="main-section-content-left">
                        <div class="subheading-label">Jan/2013 - Present</div>
                        <div class="subheading">Developer</div>
                        <div class="subheading">SLASH SLASH INC</div>
                    </div>
                    <div class="main-section-content-right">
                        <div class="subheading-label">RESPONSIBILITIES:</div>
                        <div>
                            Freelance development focusing on UI Development for internal tools and public-facing pages. Began operating
                            under Slash Slash Inc in 2017. Recent projects include:
                            <div><br></div>
                        </div>
                        <div>
                            eJury - Front-End Developer (testing)
                            <p>
                                <a href="https://ejury.com/test" class="link">https://ejury.com/test</a>
                            </p>
                        </div>
                        <div>
                            Oh Whales - Designer and Developer
                            <p>
                                <a href="http://theohwhales.com" class="link">http://theohwhales.com</a>
                            </p>
                        </div>
                        <div>
                            Slash Slash Inc - Designer and Developer
                            <p>
                                <a href="http://slashslashinc.com" class="link">http://slashslashinc.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-section">
                <div class="main-section-heading">
                    <div class="heading">EDUCATION</div>
                    <div class="line"></div>
                </div>
                <div class="main-section-content">
                    <div class="main-section-content-left">
                        <div class="subheading-label">2007 - 2011</div>
                        <div class="subheading">BA</div>
                        <div class="subheading">Communications / <br>Journalism</div>
                    </div>
                    <div class="main-section-content-right">
                        <div>
                            Focused on Writing, Production and Organizational Communication.
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-section">
                <div class="main-section-heading">
                    <div class="heading">INTERESTS</div>
                    <div class="line"></div>
                </div>
                <div class="main-section-content">
                    <div class="main-section-content-right">
                        <div class="interests">
                            <span>Writing<span class="interest-separator">//</span></span>
                            <span>Composing<span class="interest-separator">//</span></span>
                            <span>Performing<span class="interest-separator">//</span></span>
                            <span>Tabletop Games<span class="interest-separator">//</span></span>
                            <span>Game Design</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>