@import "../styles/variables";

@mixin text(
  $size: 18px,
  $weight: normal,
  $style: normal,
  $line-height: 1.375,
  $align: left,
  $color: text
) {
  font-family: $font-family-monospace;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  font-stretch: normal;
  line-height: $line-height;
  letter-spacing: normal;
  text-align: $align;
  color: $color;
}

@mixin heading($color: text) {
  @include text($size: 28px, $color: $color);
}

$sidebar-width: 400px;
$portrait-size: 300px;
$content-padding-top: 410px;
$content-padding-bottom: 50px;
$content-padding-inner: 30px;
$content-padding-outer: 76px;

.site {
  position: relative;
  width: 100%;
  font-family: $font-family-monospace;

  & &-content {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    border: none;
    padding: 0 0 0 $sidebar-width;
    overflow-x: hidden;

    .information {
      position: absolute;
      display: block;
      width: 100%;
      top: 96px;
      padding-left: #{$portrait-size/2 + 134px};

      .line {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid $purple;
      }
    }

    .inner {
      padding: $content-padding-top $content-padding-outer
        $content-padding-bottom $content-padding-inner;

      .main-section {
        position: relative;
        display: block;
        width: 100%;
        min-height: 148px;

        &:not(:first-child) {
          margin-top: 54px;
        }

        .main-section-heading {
          position: relative;
          display: block;
          width: 100%;
          color: $purple;

          .heading:after {
            content: "";
            position: absolute;
            top: 20px;
            left: #{$portrait-size/2 + 134px - $content-padding-inner};
            width: 100%;
            border-bottom: 1px solid $purple;
          }
        }

        .main-section-content {
          position: relative;
          display: block;
          margin-top: 32px;

          .main-section-content-left {
            position: absolute;
            display: block;
            padding-left: 34px;
          }

          .main-section-content-right {
            position: relative;
            display: block;
            padding-left: #{$portrait-size/2 + 134px - $content-padding-inner};
          }
        }
      }
    }
  }

  & &-portrait {
    position: absolute;
    display: block;
    top: 50px;
    left: 250px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("/assets/portrait.jpg");
    background-repeat: no-repeat;
    background-position-x: -40px;
    background-position-y: -30px;
    z-index: 1050;
  }

  & &-sidebar {
    position: absolute;
    display: block;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    margin: 0;
    border: none;
    padding: $content-padding-top $content-padding-inner $content-padding-bottom
      $content-padding-outer;
    background-color: $gray;

    .sidebar-line {
      position: absolute;
      display: block;
      width: 100px;
      top: 200px;
      border-bottom: 1px solid $purple;
    }

    .sidebar-section {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .heading {
        height: 50px;
        color: $purple;
      }

      .content:not(:last-child) {
        margin-bottom: 16px;
      }

      .content {
        .item {
          position: relative;
          display: block;
          width: 100%;

          .bar,
          .text {
            position: relative;
            display: inline-block;
          }

          .bar {
            width: 140px;
            height: 8px;
            margin-top: 7px;
            background-color: $black;
            float: right;

            &:before {
              content: "";
              position: absolute;
              display: block;
              left: 0;
              height: 8px;
            }

            &.advanced:before {
              background-color: $pink;
              width: 120px;
            }

            &.proficient:before {
              background-color: $orange;
              width: 100px;
            }

            &.familiar:before {
              background-color: $yellow;
              width: 80px;
            }
          }
        }
      }
    }
  }

  .text {
    @include text;
  }

  .title {
    @include text($size: 42px, $color: $pink);
  }

  .subtitle {
    @include text(
      $size: 18px,
      $weight: bold,
      $line-height: 1.333,
      $color: $orange
    );
  }

  .heading {
    @include heading;
  }

  .subheading {
    @include text($size: 18px, $weight: bold, $line-height: 1.333);

    &-label {
      color: $green;
    }
  }

  .link {
    @include text($color: $link-color);
    text-decoration: underline;
  }

  .interests {
    @include text($size: 18px, $align: center);

    .interest-separator {
      padding: 0 24px;
      @include text($size: 18px, $weight: bold, $color: $purple);
    }
  }
}
